<div ng-controller="CtrlUsers as usr" ng-show=showListUsers>

    <div class="jumbotron text-center">
      <h1>Nice List</h1\>
    </div>
      <table st-table="displayedCollection"  st-safe-src="rowCollection" class="table table-striped">
        <thead>
          <tr></tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in displayedCollection" ng-switch on="$index % 4">
            <td ng-switch-when="0">
              <div class="card" ng-show="displayedCollection[$index]">
                <img class="card-img-top" ng-src="{{displayedCollection[$index].avatar_url}}" alt="Card image cap" style="width:128px;height:128px;">
                  <h4 class="card-title">{{displayedCollection[$index].name}}</h4>
                  <p class="card-text"><a ng-href="{{displayedCollection[$index].html_url}}">{{displayedCollection[$index].html_url}}</a></p>
                  <p class="card-text"><small class="text-muted">
                    <a class="card-text btn btn-sm btn-primary" ng-href="/listRepos/{{displayedCollection[$index].login}}" role="button"><b>View Repository</b></a>
                  </p>
                </div>
              </div>
            </td>
            <td ng-switch-when="0">
              <div class="card" ng-show="displayedCollection[$index+1]">
                <img class="card-img-top" ng-src="{{displayedCollection[$index+1].avatar_url}}" alt="Card image cap" style="width:128px;height:128px;">
                <div class="card-block">
                  <h4 class="card-title">{{displayedCollection[$index+1].name}}</h4>
                  <p class="card-text"><a ng-href="{{displayedCollection[$index+1].html_url}}">{{displayedCollection[$index+1].html_url}}</a></p>
                  <p class="card-text"><small class="text-muted">
                    <a class="card-text btn btn-sm btn-primary" ng-href="/listRepos/{{displayedCollection[$index+1].login}}" role="button"><b>View Repository</b></a>
                  </p>
                </div>
              </div>
            </td>
            <td ng-switch-when="0">
              <div class="card" ng-show="displayedCollection[$index+2]">
                <img class="card-img-top" src="{{displayedCollection[$index+2].avatar_url}}" alt="Card image cap" style="width:128px;height:128px;">
                <div class="card-block">
                  <h4 class="card-title">{{displayedCollection[$index+2].name}}</h4>
                  <p class="card-text"><a ng-href="{{displayedCollection[$index+2].html_url}}">{{displayedCollection[$index+2].html_url}}</a></p>
                  <p class="card-text"><small class="text-muted">
                    <a class="card-text btn btn-sm btn-primary" ng-href="/listRepos/{{displayedCollection[$index+2].login}}" role="button"><b>View Repository</b></a>
                  </p>
                </div>
              </div>
            </td>
            <td ng-switch-when="0">
              <div class="card" ng-show="displayedCollection[$index+3]">
                <img class="card-img-top" src="{{displayedCollection[$index+3].avatar_url}}" alt="Card image cap" style="width:128px;height:128px;">
                <div class="card-block">
                  <h4 class="card-title">{{displayedCollection[$index+3].name}}</h4>
                  <p class="card-text"><a ng-href="{{displayedCollection[$index+3].html_url}}">{{displayedCollection[$index+3].html_url}}</a></p>
                  <p class="card-text"><small class="text-muted">
                    <a class="card-text btn btn-sm btn-primary" ng-href="/listRepos/{{displayedCollection[$index+3].login}}" role="button"><b>View Repository</b></a>
                  </p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>



  </div>
